
.hero{
    height: 100%;
    width: 100%;
    background: grey;
    background-position: center;
    background-size: cover;
    position: absolute;
}



header {
    background:teal;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background:white;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 30px auto;
    margin-bottom: 25px;
    position: relative;
    border-radius: 30px;
    text-align: center;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: grey;
    border-radius: 30px;
    transition: .3s;
}
.formtext{
    margin: auto;
    text-align: center;
}
.input-group{
    top: 128px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 55%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    background: red;
}



span{
    margin-top: 4px;
    color: #777;
    font-size: 12px;
    position: absolute;
}

#signup{
    left: 50px;
}

#login{
    left: 450px;
}

body{
    background:#C768C8;
}

.searchForm{
    min-height: 10vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar{
    width: 50%;
    border: none;
    padding: 10px;
}

.searchButton{
    border: none;
    padding: 10px 20px;
    color: white;
    background: lightcoral;
    cursor: pointer;
}

#recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    min-width: 40%;
    height: auto;
    min-height: 300px;
}

.image{
    margin-top: 2px;
    border-radius: 20%;
    width: 160px;
    height: 120px;
    margin-bottom: 10px;
}

li {
    list-style: none;
    font-weight: 500;
}

.btns{
    display: inline;
    margin-top: 8px;
    margin-bottom: 15px;
}

