{% extends "layout.html" %}
{% block title %}Edit{% endblock %}
{% block page %}Edit{% endblock %}

{{ super() }}

{% block content %}
  <div class="container">
  <div class="row">
      <form class="col s12 m8 offset-m2" method="POST" action="\editTodo\{{id}}">

        {{ form.csrf_token }}

        <div class="input-field col s12 m8 offset-m2"> 
          {{ form.text(size=200, class="validate materialize-textarea") }}
          {{ form.text.label }}
        </div>

        <div class="input-field col s12 m8 offset-m2">
          {{form.submit}}
        </div> 
  
      </form>
  </div>
</div>
{% endblock %}