<!doctype html>
<html>
  <head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocery List Generator</title>

  </head>

  <body>

    <div class="loginpage">
      <div class="form-box">
        <div class="button-box">
          <div id="btn" style="left: 0px;"></div>
          <button type="button" class="toggle-btn" onclick="signupBtn()">SignUp</button>
          <button type="button" class="toggle-btn" onclick="loginBtn()">LogIn</button>
        </div>
      <div class="formtext">Please carefully fill out the form.</div>
      <form id="signup" class="input-group">
      
      </form>

      <form id="login" class="input-group">
     
      </form>
    </div>
  </div>


</body>
</html>