<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    <nav class="grey">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo left">{% block page %}{% endblock %}</a>
      </div>
    </nav>

   
    <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li><a href="MyPantryList.html">My Pantry List</a></li>
                <li><a href="#">Current Stock</a></li>
                <li><a href="#">Items Needed</a></li>
                <li><a href="#">My Recipes</a></li>
                <li><a href="#">Recipe Catalog</a></li>
                <li><a href="#">TO add</a></li>
                <li><a href="#">to</a></li>
            </ul>
    </div>
    

    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
